@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

@layer base {
  :root {
    --background: 212 100% 95%;
    --foreground: 212 5% 0%;
    --card: 212 50% 90%;
    --card-foreground: 212 5% 10%;
    --popover: 212 100% 95%;
    --popover-foreground: 212 100% 0%;
    --primary: 212 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 30% 85%;
    --muted-foreground: 212 5% 35%;
    --accent: 174 30% 80%;
    --accent-foreground: 212 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 50%;
    --input: 212 30% 18%;
    --ring: 212 100% 50%;
    --radius: 0.5rem;
    --sidebar-background: 212 100% 95%;
    --sidebar-foreground: 212 5% 0%;
    --sidebar-primary: 212 100% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 212 50% 5%;
    --foreground: 212 5% 90%;
    --card: 212 50% 0%;
    --card-foreground: 212 5% 90%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 90%;
    --primary: 212 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 15%;
    --muted-foreground: 212 5% 60%;
    --accent: 174 30% 15%;
    --accent-foreground: 212 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 18%;
    --input: 212 30% 18%;
    --ring: 212 100% 50%;
    --radius: 0.5rem;
    --sidebar-background: 212 50% 5%;
    --sidebar-foreground: 212 5% 90%;
    --sidebar-primary: 212 100% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 174 30% 15.9%;
    --sidebar-accent-foreground: 212 4.8% 90.9%;
    --sidebar-border: 212 30% 18%;
    --sidebar-ring: 212 30% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --cloudinary-video-player-color: #ffffff;
  --cloudinary-video-player-accent: #3182ce;
  --cloudinary-video-player-base: #000000;
}

.cld-video-player {
  width: 100% !important;
  height: 100% !important;
}

.cld-video-player .vjs-control-bar {
  display: flex !important;
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.7) !important;
}

.cld-video-player:hover .vjs-control-bar {
  opacity: 1 !important;
}

.cld-video-player .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 9999px !important;
  border: 2px solid white !important;
}
